{{- $skipSecrets := .Values.skipSecrets -}}
{{ if not $skipSecrets }}
{{- $daAPIURL := .Files.Get (printf "secrets/DA_API_URL.%s.secret" .Values.deployEnv) -}}
{{- $githubRepo := .Files.Get (printf "secrets/GITDM_GITHUB_REPO.%s.secret" .Values.deployEnv) -}}
{{- $githubUser := .Files.Get (printf "secrets/GITDM_GITHUB_USER.%s.secret" .Values.deployEnv) -}}
{{- $githubOAuth := .Files.Get (printf "secrets/GITDM_GITHUB_OAUTH.%s.secret" .Values.deployEnv) -}}
{{- $gitUser := .Files.Get (printf "secrets/GITDM_GIT_USER.%s.secret" .Values.deployEnv) -}}
{{- $gitEmail := .Files.Get (printf "secrets/GITDM_GIT_EMAIL.%s.secret" .Values.deployEnv) -}}
---
apiVersion: v1
data:
  DA_API_URL.secret: {{ $daAPIURL | b64enc }}
  GITDM_GITHUB_REPO.secret: {{ $githubRepo | b64enc }}
  GITDM_GITHUB_USER.secret: {{ $githubUser | b64enc }}
  GITDM_GITHUB_OAUTH.secret: {{ $githubOAuth | b64enc }}
  GITDM_GIT_USER.secret: {{ $gitUser | b64enc }}
  GITDM_GIT_EMAIL.secret: {{ $gitEmail | b64enc }}
kind: Secret
metadata:
  namespace: '{{ .Values.namespace }}'
  name: {{ .Values.syncSecret }}
  labels:
    type: 'secret'
    app.kubernetes.io/name: {{ include "gitdm.name" . }}
    helm.sh/chart: {{ include "gitdm.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
type: {{ .Values.secretType }}
{{ end }}
