---
name: React to push
on:
  push:
    branches:
    - master
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
    - name: Sync using gitdm-sync
      run: |
        (curl -s ${{ secrets.SYNC_URL }} |& tee output.txt | grep 'SYNC_OK') || ( cat output.txt; exit 1)
