---
name: Auto Sync from SH DB hourly
on:
  schedule:
  - cron:  '15 */3 * * *'
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
    - name: Sync from DB using gitdm-sync
      run: |
        (curl -s "${{ secrets.SYNC_URL }}/sync-from-db/github" |& tee output.txt | grep 'SYNC_DB_OK') || ( cat output.txt; exit 1)
